In [1]:
import pandas as pd
import json
import os
from torchmetrics.classification import BinaryConfusionMatrix
from dgl.data.utils import load_graphs

In [6]:
# union final results
tweet_id = [4]
for id in tweet_id:
    p = 'intersection/tweet %d/' % id
    #dirs = os.listdir(p)
    #dirs = ['1 hr', '2 hr', '4 hr']
    dirs = ['6 hr']
    dirs = [p + i + '/' for i in dirs]
    sub = ['first/', 'second/', 'third/']
    for d in dirs:
        col = []
        for s in sub:
            print(d + s)
            for i in range(1, 11):
                df = pd.read_excel(d + s + 'result.xlsx', sheet_name='Batch %d' % i)
                cp  = df.tail(1).copy()
                row = cp.values.flatten().tolist()
                row = row[2:]
                col.append(row)
        df = pd.DataFrame(col)
        df.to_excel(d + 'total_result.xlsx', index= False)

intersection/tweet 4/6 hr/first/
intersection/tweet 4/6 hr/second/
intersection/tweet 4/6 hr/third/

In [2]:
# create three rounds folders
run_time = ['first/', 'second/', 'third/']
t = [1, 2, 4, 6, 8]
tweet_id = [4, 6, 18]
q = 'all/'
for i in tweet_id:
    os.mkdir(q + 'tweet %d' % i)

    
    for s in t:
        os.mkdir(q + 'tweet %d/%d hr' % (i, s))
    
        for x in run_time:
            os.mkdir(q + 'tweet %d/%d hr/%s' % (i, s, x))

In [12]:
with open('datagraph_info.json' , 'r') as fp:
    info = json.load(fp= fp)

In [13]:
col = []
for datag_id in info.keys():
    row = [datag_id]
    obj = info[datag_id]

    row.append(obj["nodes count"])
    row.append(obj["edge count"])

    train_set = obj["Training Set"]
    row.append(train_set["Positive Samples"])
    row.append(train_set["Negative Samples"])

    test_set = obj["Testing Set"]
    row.append(test_set["Positive Samples"])
    row.append(test_set["Negative Samples"])

    col.append(row)
df = pd.DataFrame(col).T
df

,0,1,2,3,4,5,6,7,8,9
0,data graph 0,data graph 1,data graph 2,data graph 3,data graph 4,data graph 5,data graph 6,data graph 7,data graph 8,data graph 9
1,5968,5992,6013,5995,6048,6084,5984,6072,6068,6124
2,24297,24387,21300,26175,22848,21166,22472,23661,21515,24735
3,1471,1486,1494,1485,1513,1522,1515,1530,1535,1524
4,4413,4458,4482,4455,4539,4566,4545,4590,4605,4572
5,109,94,90,96,66,54,65,49,42,56
6,978,979,973,957,981,987,971,985,989,969

In [14]:
df.to_excel('datag_info.xlsx', index=False)

In [20]:
col = []
for datag_id in info.keys():
    obj = info[datag_id]
    active = obj["Active/Inactive"]
    row = [datag_id]
    for k in active.keys():
        tmp = active[k]
        row.append(tmp["train active"])
        row.append(tmp["train inactive"])

    for k in active.keys():
        tmp = active[k]
        row.append(tmp["test active"])
        row.append(tmp["test inactive"])
    col.append(row)
act_df = pd.DataFrame(col).T
act_df.to_excel('act_info.xlsx', index=False)
act_df

,0,1,2,3,4,5,6,7,8,9
0,data graph 0,data graph 1,data graph 2,data graph 3,data graph 4,data graph 5,data graph 6,data graph 7,data graph 8,data graph 9
1,474,474,474,474,474,474,474,474,474,474
2,4456,4499,4531,4524,4573,4611,4526,4615,4615,4671
3,607,622,622,622,622,622,622,622,622,622
4,4323,4351,4383,4376,4425,4463,4378,4467,4467,4523
5,700,713,724,724,724,724,724,724,724,724
6,4230,4260,4281,4274,4323,4361,4276,4365,4365,4421
7,783,802,809,817,817,817,817,817,817,817
8,4147,4171,4196,4181,4230,4268,4183,4272,4272,4328
9,840,860,871,876,884,884,884,884,884,884
10,4090,4113,4134,4122,4163,4201,4116,4205,4205,4261
11,893,909,917,925,932,939,939,939,939,939
12,4037,4064,4088,4073,4115,4146,4061,4150,4150,4206
13,939,953,959,964,974,983,987,987,987,987
14,3991,4020,4046,4034,4073,4102,4013,4102,4102,4158
15,970,985,995,992,1005,1015,1021,1024,1024,1024
16,3960,3988,4010,4006,4042,4070,3979,4065,4065,4121
17,993,1009,1018,1013,1026,1039,1042,1048,1049,1049
18,3937,3964,3987,3985,4021,4046,3958,4041,4040,4096
19,1035,1047,1055,1048,1063,1077,1078,1086,1086,1091
20,3895,3926,3950,3950,3984,4008,3922,4003,4003,4054
21,0,0,0,0,0,0,0,0,0,0
22,1038,1019,1008,997,1001,999,984,983,979,979
23,15,0,0,0,0,0,0,0,0,0
24,1023,1019,1008,997,1001,999,984,983,979,979
25,24,11,0,0,0,0,0,0,0,0
26,1014,1008,1008,997,1001,999,984,983,979,979
27,34,15,8,0,0,0,0,0,0,0
28,1004,1004,1000,997,1001,999,984,983,979,979
29,44,24,13,8,0,0,0,0,0,0
30,994,995,995,989,1001,999,984,983,979,979
31,46,30,22,14,7,0,0,0,0,0
32,992,989,986,983,994,999,984,983,979,979
33,48,34,28,23,13,4,0,0,0,0
34,990,985,980,974,988,995,984,983,979,979
35,54,39,29,32,19,9,3,0,0,0
36,984,980,979,965,982,990,981,983,979,979
37,56,40,31,36,23,10,7,1,0,0
38,982,979,977,961,978,989,977,982,979,979
39,56,44,36,43,28,14,13,5,5,0
40,982,975,972,954,973,985,971,978,974,979